{
  "root": true,
  "extends": [
     "@menelaia/react-native"
  ],
  "rules": {
    // TODO: create React eslint config package
    "react-native/no-unused-styles": 0,
    "react-native/no-inline-styles": 0,
    "react-native/no-raw-text": 0,
    "react-native/no-color-literals": 0,
    "react-native/no-single-element-style-arrays": 0
  }
}
